.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  margin-top: 50px;
}

nav {
  margin-right: 50px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  margin: 10px 0;
}

.App > * {
  flex: 1;
}

h3 {
  margin: 5px 0;
}

ol {
  padding-left: 16px;
}
